# SPDX-License-Identifier: GPL-2.0
# Copyright (c) 2026 honeok <i@honeok.com>
#
# References:
# https://github.com/MetaCubeX/mihomo/blob/Meta/docs/config.yaml
# https://www.nodeseek.com/post-491837-1

## 全局配置
allow-lan: false # 局域网连接

#  find-process-mode has 3 values:always, strict, off
#  - always, 开启，强制匹配所有进程
#  - strict, 默认，由 mihomo 判断是否开启
#  - off, 不匹配进程，推荐在路由器上使用此模式
find-process-mode: off

mode: rule

log-level: error # 日志等级silent/error/warning/info/debug

ipv6: true # IPv6总开关 关闭阻断所有IPv6链接和屏蔽DNS请求AAAA记录

tcp-concurrent: true # TCP并发连接所有IP 将使用最快握手的TCP

## 嗅探域名 可选配置
sniffer:
  enable: true
  # 是否使用嗅探结果作为实际访问 默认true
  # 全局配置 优先级低于sniffer.sniff实际配置
  override-destination: false

## DNS模块
dns:
  enable: true # 关闭将使用系统DNS
  ipv6: true # false将返回AAAA的空结果
  use-hosts: true # 查询hosts

  enhanced-mode: normal # or redir-host
  # DNS主要域名配置
  nameserver:
    - system
  # 配置查询域名使用的DNS服务器
  nameserver-policy:
  #  "rule-set:netflix": ["x.x.x.x"]
  "geosite:category-ads-all": rcode://success

## 出站流量
proxies:
  # Shadowsocks
  # cipher支持:
  #   aes-128-gcm aes-192-gcm aes-256-gcm
  #   aes-128-cfb aes-192-cfb aes-256-cfb
  #   aes-128-ctr aes-192-ctr aes-256-ctr
  #   rc4-md5 chacha20-ietf xchacha20
  #   chacha20-ietf-poly1305 xchacha20-ietf-poly1305
  #   2022-blake3-aes-128-gcm 2022-blake3-aes-256-gcm 2022-blake3-chacha20-poly1305
  - name: "shadowsocks-outbound"
    type: ss
    server: "8.8.8.8"
    port: "8388"
    cipher: chacha20-ietf-poly1305
    password: "OiTUM5+VGIZDmtIlCPcAlvbh" # openssl rand -base64 18
    # udp为双栈解析 获取结果中的第一个IPv4
    udp: true
    udp-over-tcp: false
    # ipv4: 仅使用IPv4  ipv6: 仅使用IPv6
    # ipv4-prefer: 优先使用IPv4对于TCP会进行双栈解析 并发链接但是优先使用IPv4链接
    # ipv6-prefer同ipv4-prefer
    ip-version: ipv4-prefer # 设置节点使用IP版本 可选: dual ipv4 ipv6 ipv4-prefer ipv6-prefer 默认使用dual

## 入站流量
listeners:
  - name: "shadowsocks-inbound"
    type: shadowsocks
    port: "8388"
    listen: "::"
    password: "OiTUM5+VGIZDmtIlCPcAlvbh" # openssl rand -base64 18
    cipher: aes-128-gcm

  - name: "vless-inbound"
    type: vless
    port: "443"
    listen: "::"
    users:
      - name: "7uL6RJ" # openssl rand -base64 6 | tr -cd 'A-Za-z0-9' | head -c 6
        uuid: "9d0cb9d0-964f-4ef6-897d-6c6b3ccf9e68" # cat /proc/sys/kernel/random/uuid
        flow: xtls-rprx-vision
    # 如果填写reality-config则开启reality (注意不可与certificate和private-key同时填写)
    reality-config:
      dest: example.com:443
      private-key: QHaWEYfRWPJZO1Kr1_5kWuOQqL1xlVUOHd5VPO87tHQ # 可由 mihomo generate reality-keypair 命令生成
      short-id: [""]
      server-names:
        - "example.com"

  - name: "hysteria2-inbound"
    type: hysteria2
    port: "10820" # 支持使用ports格式 例如200,302 or 200,204,401-429,501-503端口跳跃
    listen: "::"
    users:
      00000000-0000-0000-0000-000000000000: PASSWORD_0
      00000000-0000-0000-0000-000000000001: PASSWORD_1
    certificate: ./server.crt # 证书PEM格式 或者证书的路径
    private-key: ./server.key # 证书对应的私钥PEM格式 或者私钥路径
    alpn:
      - h3
    ignore-client-bandwidth: false
    # HTTP3服务器认证失败时的行为 (URL字符串配置) 如果masquerade未配置 则返回404页
    masquerade: "https://www.example.com"

rules:
  - MATCH,DIRECT

rule-anchor:
  class: &class { type: http, interval: 86400, behavior: classical, format: text }
  yaml: &yaml { type: http, interval: 86400, behavior: classical, format: yaml }

rule-providers:
  ai: { <<: *yaml, url:"https://fastly.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@meta/geo/geosite/category-ai-!cn.yaml" }
  netflix: { <<: *class, url: "https://fastly.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Netflix/Netflix.list" }
