---
name: "Delete old workflows"

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  actions: write
  contents: read

jobs:
  clean:
    name: "Delete old workflows"
    runs-on: ubuntu-latest

    steps:
      - name: "Delete old workflows"
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 0
          delete_run_by_conclusion_pattern: "ALL"
