---
name: "NextTrace CI"

on:
  push:
    branches:
      - "*"
    paths: ["**/nxtrace.*"]
  pull_request:
    types: [opened, reopened, synchronize]
    paths: ["**/nxtrace.*"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run:
    name: "NextTrace install"
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v5

      - name: "Run NextTrace install"
        run: |
          set -x
          bash nxtrace.sh
          bash nxtrace.sh --channel stable --debug --version v1.5.0
          bash nxtrace.sh --channel dev --debug --version v1.5.0
